@media (min-width: 752px) {
    [class*="PageHeader-logoFull-"] {
        content: url("/css/addons/lidarr/lidarr-grey/lidarr-grey.png");
        margin-left: 15px;
        width: 32px;
        height: 32px;
    }
}
