@media only screen and (max-width: 768px) {
    [class*="PageHeader-logo-"] {
        width: 32px;
        height: 32px;
        margin-left: 0px;
        content: url("/css/addons/lidarr/lidarr-grey/lidarr-grey.png");
    }
}
