@media (min-width: 752px) {
    [class*="PageHeader-logoFull-"] {
        content: url("/css/addons/lidarr/lidarr-grey/lidarr-grey-v3.png");
        margin-left: 15px;
        width: 120px;
        height: 40px;
    }
}